@page
@model MyApp.Namespace.AboutModel
@{
    ViewData["Title"] = "Om sidan";
}
<div>
    <h1>Om sidan</h1>
    <p>Denna sida är skapad med hjälp av Razor Pages och ASP.net Core.<br></p>
    <p>Jag heter Lisa och är 29 år. Jag pluggar sista terminen på webbutvecklingsprogrammet.</p>
    <p>Jag har vid skapandet av denna sida insett att jag glömt mycket "vanlig" CSS-kod - pga att vi använt så mycket
        ramverk på senare tid.<br>
        Det är något jag måste öva på! :) hehe</p>
    <p>När jag inte sitter framför datorn och studerar är jag väldigt ofta med min häst. Jag brukar säga <br>
        "Roses are red, violets are blue. My horse eats my money and turns it to poo" för tycker det stämmer så bra.</p>
    <p>Jag gillar även att spela tv/dator-spel men har tyvärr inte så mycket tid till övers för det just nu!</p>

    <button onclick="myFunction()">Klicka här!</button>

    <div id="myDIV">
        Klicka på knappen ovanför så försvinner jag!
    </div>
</div>
